@model AllSuppliersModel


<h2>All @(Model.IsImporter ? "Importer" : "Local") Suppliers</h2>
<hr />

<a href="/suppliers/local" class="btn btn-info btn-sm">Local</a>
<a href="/suppliers/importers" class="btn btn-info btn-sm">Importers</a>
<a href="/suppliers" class="btn btn-info btn-sm">All</a>
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Number of Parts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model.Suppliers)
        {
            <tr>
                <td>@supplier.Id</td>
                <td>@supplier.Name</td>
                <td>@supplier.PartsCount</td>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <td>
                        <a href="/suppliers/edit/@supplier.Id" class="btn btn-warning">Edit</a>
                        <a href="/suppliers/delete/@supplier.Id" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
